body,html{
  width: 100%;
  height: 100%;
}
ul,li{
  list-style: none;
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
}

.max-width {
  width: 100%;
  max-width: 1272px;
  margin: 0 auto;
}

.app-header,
.app-footer {
  background: #333;
}

$maxWidth: 1272px;